.hinh_thang {
    border-bottom: 24px solid #b7cadc4e;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 98%;
    filter: drop-shadow(0px 46px 31px #000000);
-webkit-filter: drop-shadow(0px 46px 31px #000000);
-moz-filter: drop-shadow(0px 46px 31px #000000);
}

/* ghế thường */
.ghe { 
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin: 6px;
    cursor: pointer;
    background-color: gray;
    color: white;
    border: none;
}

.gheDaDat { 
    cursor: no-drop!important;
    background-color: rgb(168, 14, 14)!important;
}

.gheDangDat {
    background-color: #1dbb08!important;
}

.gheVip {
    background-color: #bb7008;
}

.gheDaDuocDat {
    background-color: #f908e9!important;
    border: 2px solid #3241e7;
    color: white!important;
}

.gheKhachDangDat {
    background-color:#06f4e8 !important;
    cursor: no-drop;
}